<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.lunchly" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.Holo.Light.NoActionBar.Fullscreen"
        android:screenOrientation="portrait" >

        <activity
            android:name=".LoginActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:label="@string/app_name" android:name=".FeedActivity"/>
        <activity android:label="@string/app_name" android:name=".MenuActivity"/>
        <activity android:label="@string/app_name" android:name=".ProfileActivity"/>
        <activity android:label="@string/app_name" android:name=".PickupActivity"/>
        <activity android:label="@string/app_name" android:name=".DropoffActivity"/>
        <activity android:label="@string/app_name" android:name=".TimeSelectActivity"/>
        <activity android:label="@string/app_name" android:name=".FinalizeActivity"/>
        <activity android:label="@string/app_name" android:name=".PreviewPostActivity"/>
        <activity android:label="@string/app_name" android:name=".OrdersActivity"/>
        <activity android:label="@string/app_name" android:name=".OrderDisplayActivity"/>

        <activity android:label="@string/app_name" android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <meta-data android:name="com.facebook.sdk.ApplicationId" android:value="@string/facebook_app_id"/>

        <provider android:authorities="com.facebook.app.FacebookContentProvider469373463222756"
            android:name="com.facebook.FacebookContentProvider"
            android:exported="true" />

        <!--Google MAP API key-->

        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyBgWd9xo3vw5jVStqfunSXLnjtUy0Of17g" />

        <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
        <uses-permission android:name="android.permission.INTERNET" />
        <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
        <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
        <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
        <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    </application>

</manifest>
